<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">SR.</th>
            <th scope="col">BSC</th>
            <th scope="col">KRA</th>
            <th scope="col">Key Activities</th>
            <th scope="col">Metric</th>
            <th scope="col">Weightage</th>
            <th scope="col">Target</th>
        </tr>
    </thead>
    <tbody>
        {%- for data in doc.goals -%}
            <tr>
                <th scope="row" rowspan="{{ data['count'] }}">{{ data.idx }}</th>
                <td rowspan="{{ data['count'] }}">{{ data.custom_bsc }}</td>
                <td rowspan="{{ data['count'] }}">{{ data.key_result_area }}</td>
                <td rowspan="{{ data['count'] }}">{{ data.custom_key_activities }}</td>
                <td rowspan="{{ data['count'] }}">{{ data.metric }}</td>
                <td rowspan="{{ data['count'] }}">{{ data.per_weightage }}</td>
                <td rowspan="{{ data['count'] }}">{{ data.custom_target }}</td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>
