.linespace{
    padding: 1.5px 0px;
}

#watermark {
    position: relative;
    overflow: visible;
  }
#watermark p {
    position: absolute;
    top: 50%;
    left: 15%;
    opacity:0.3;
    color: red;
    font-size: 80px;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.table{
    margin: 0px !important;
}

.print-format{
    padding: 15px !important;
}