{%set styles = "hrms_custom/templates/includes/style.css" %}      
{%set watermark = "hrms_custom/templates/includes/watermark.html" %}
{%set goals = "hrms_custom/templates/includes/goals.html" %}

{%set feedback = "hrms_custom/templates/includes/feedback.html" %}

<meta name="pdfkit-orientation" content="Landscape"/>
<style> {%- include styles -%} </style>


<div class="col-mg-12" style="width: 100%; border: 1px solid rgb(31, 30, 30); display: flex; align-items: center; justify-content: space-between;">
  <div style="text-align: left; font-size: medium;">
      <b>KRA: {{doc.name}}</b>
  </div>
  <img class="logo" style="height: 45px;" alt="Sample Latter Head" src="/files/Parason-Logo-small-size.png">
</div>

<table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ doc.employee_name }}</td>

        <th scope="row">Employee Code</th>
        <td>{{ doc.employee }}</td>
      </tr>
      <tr>
        <th scope="row">Designation</th>
        <td>{{ doc.designation }}</td>

        <th scope="row">Date</th>
        <td>{{ doc.get_formatted('creation') }}</td>
      </tr>
      <tr>
        <th scope="row">Department</th>
        <td colspan="">{{ doc.department }}</td>

        <th scope="row">Reporting To</th>
        <td>{{ doc.custom_approver_name }}</td>
      </tr>
    </tbody>
  </table>
{% if doc.docstatus ==0 %}
  {%- include watermark -%} 
{% endif %}

{% if doc.goals | length > 0 %}
{%- include goals -%} 
{% endif %}

<div class="pagebreak"> </div>
<br>
<div class="col-mg-12" style="width: 100%; border: 1px solid rgb(31, 30, 30); display: flex; align-items: center; justify-content: space-between;">
  <div style="text-align: left; font-size: small;">
      <b>KRA: {{doc.name}}</b>
  </div>
  <span style="padding: 2px;"><b>{{ doc.employee_name }}</b></span>
</div>
{%- include feedback -%}


